/* Resetting default browser styles */
body, h1, p {
    margin: 0;
    padding: 0;
}

/* Setting up general styles */
body {
    font-family: Arial, sans-serif;
    background-color: #186f5e;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.header {
    background-color: #333;
    color: #186f5e;
    padding: 20px;
}

.header h1 {
    margin: 0;
}

.navbar {
    background-color: #666;
    color: #186f5e;
    padding: 10px;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
}

.navbar ul li {
    display: inline;
    margin-right: 10px;
}

.navbar ul li a {
    color: #186f5e;
    text-decoration: none;
}

.content {
    padding: 20px;
}

.footer {
    background-color: #333;
    color: #186f5e;
    padding: 10px;
    text-align: center;
}


  /* CSS to style the input field */
  input[type="text"],  input[type="email"], input[type="password"] {
    width: 300px; /* Adjust this value to set the width as desired */
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box; /* Ensures padding and border are included in the width */
  }
